[core]
    editor = vim
[user]
	name = ling
	email = 64540764+lingjie00@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[alias]
    hist = log --graph --oneline --decorate
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
